@import '~@c/globalcss/color.scss';
.view {
  img {
    margin: 0 auto;
    max-width: 100%;
  }
  p {
    margin: 1.5em 0;
    & > code {
      padding: 2px 4px;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px
    }
  }
  pre {
    padding: 1rem;
    border: none;
    overflow: auto;
    line-height: 1.45;
    max-height: 35rem;
    position: relative;
    background: #f6f6f6
  }
  blockquote {
    border-left: 2px solid #8e24aa;
    background: #f6f6f6;
    color: #555;
    font-size: 1rem;
    margin: 1.5rem 0;
    padding: 10px;
  }
  h1, h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px
  }
  blockquote p:last-child {
    margin: 0
  }
  code, a, h1, h2, h3, pre, p {
    font-family: $art_font;
  }
}





